*{
    margin: 0;
    padding: 0;
}
.content{
    background-image: linear-gradient(#8e0e00,#1f1c18);
    height: 100vh;
    overflow: hidden;/*CSS overflowözelliği, bir alana sığmayacak kadar büyük olan içeriğe ne olacağını kontrol eder.
    hidden - Taşma kırpılır ve içeriğin geri kalanı görünmez olur*/
}
.content h1{
    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-family:inherit;
    z-index: 1;
    font-size: 100px;
}
.box ul li{
    position: absolute;
    width: 35px;
    height: 35pX;
    list-style: none;
    opacity: 0;
    background: #fff;
    bottom: 0;
    left: 10vw;
    animation: animate 15s linear infinite ; 
}
.box ul li:nth-child(1){
    left: 36vw;
    animation-delay: 2s;/*animation-delayTesiste animasyon başlaması için bir gecikme belirtir.*/
}
.box ul li:nth-child(2){
    left: 22vw;
    animation-delay: 4s;
}
.box ul li:nth-child(3){
    left: 56vw;
    animation-delay: 6s;
}
.box ul li:nth-child(4){
    left: 766vw;
    animation-delay: 4s;
}
.box ul li:nth-child(5){
    left: 90vw;
    animation-delay: 8s;
}
@keyframes animate{
    0%{
        transform: scale(0) rotate(0deg);
        opacity: 1;
        bottom: 0;
        border-radius: 0;
    }
    100%{
        transform: scale(4) rotate(800deg);
        opacity:0;
        bottom:100vh;
        border-radius: 50%;
    }
}

















