*{
    margin:0;
    padding:0;
}
.disdiv{
    width: 1170px;
    margin: auto; /*ortlar*/ 
}
header{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),/*resim soluklaştı*/ url("image.jpg");
    height: 100vh;
    -webcit-background-size:cover;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.menu{
    float: right;
    list-style: none;
    margin-top: 30px;
}
.menu li{
    display: inline-block; /*listeyi dikeyden yataya çevirir*/
}
.menu li a{
    color: #fff;
    text-decoration: none;
    padding: 10px 20px; /*menüdeki elemanlar arasına boşluk koyar*/
    font-family: poppins;
    font-size: 14px;
    text-transform: uppercase;
}
.menu li a:hover{
    background:#fff;
    color: #333;
    border-radius: 15px;
}
.logo img{
    width: 75px;
    height: 75;
    float:left;/*logoyu sola kaydırır.*/
    margin-left:10px;
    border-radius: 10px;
}
img{
    margin-top: 10px;
}
.text{
    position: absolute;/*doğrudan web sayfasına göre konum alır*/
    width: 600px; /*genişlik 600px */
    height: 300px;
    margin:25% 35%;
}
.text h1{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 60px;
}
.text a{
    border: 1px solid #fff;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase; /*yazıyı büyük harfe çevirdi*/
    font-size: 14px;
    margin-top: 20px;
    display:inline-block;
    color: #fff;
    text-align: center;
}
.contact{
    margin-left: 200px;/*sağdan 200px uzaklaştırdık*/
}
.text a:hover{
    background:#fff;
    color: #333;
    border-radius: 20px;
}






















