*{
    margin: 0;
    padding: 0;
}
h1{
    font-family: sans-serif;
    text-align: center;
    margin-top: 350px;
    font-size: 150px;
    font-weight: 1000;
    color:transparent;
    background-image: url(https://media.giphy.com/media/ruw1bRYN0IXNS/giphy.gif);
    background-position: center;
    -webkit-background-clip:text;
}