@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(219, 43, 20);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    height: 50vh;
    width: 50vh;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

h2 {
    font-size: 2rem;
    color: rgb(167, 27, 27);
    margin-bottom: 2rem;
}

input {
    font-size: 1.3rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 3px solid rgb(149, 17, 17);
    margin-bottom: 20px;
}

button {
    font-size: 1.5rem;
    width: 10rem;
    color: rgb(177, 51, 13);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 5px solid green;
    margin-top: 0.5rem;
}

p {
    font-size: 1.5rem;
    margin-top: 20px;
}

button:hover {
    background-color: brown;
    color: green;
}

#Message {
    color: green;
    font-size: 1.5rem;
}